
 <div [style.width]="width" 
      [style.height]="height" 
      [style.background-image]="'url(./assets/images/' + employee.stdImage + ')'" 
      class="employee-component">
      <div 
        class="inner-component">
        {{employee.firstName}}
      </div>
      
<!-- Birthday overlay -->
      <div 
        class="birthday"
        [ngClass]="{ hidden: !birthday }" 
        [style.height]="height">
        <b>Gratulerer med dagen!</b>
      </div>

<!-- Image 2 overlay -->
      <div 
        [ngClass]="wave ? 'visible' : 'invisible'" 
        [style.width]="width" 
        [style.height]="height"
        [style.background-image]="'url(./assets/images/pc.jpg)'" >
      </div>
 </div>