.employee {
    -webkit-animation-name: bigimage; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: bigimage;
    animation-duration: 10s;
        
    margin: 0px 0px 0px 0px;
    height: 680px;
    width: 510px;
    position: relative;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;

    position: relative;
    background-color: lightgreen;
    width: 100%;
    height: 100%;
    animation: move 0.5s linear forwards;
    grid-area: 1 / 9 / 9 / 9;
}

.left-line {
    position: absolute;
    margin-top: 38px;
    border-left: 1px solid gray;
    height: 750px;
    z-index: 1000;
}

.dot-container {
    margin-left: -8px;
    float:left;
    height: 25px;
    width: 15px;
    text-align: center;
}

.dot {
    margin-top: 10px;
    height: 15px;
    width: 15px;
    background-color: #ED7118;
    border-radius: 50%;
    display: inline-block;
  }

.employee-name {
    margin-left: 14px;
    font-size: 120%;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    z-index: 1000;
} 

.employee-assignment {
    font-size: 100%;
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    z-index: 1000;
} 

.employee-description {
    text-align: left;
    font-size: 100%;
    padding: 5px 5px 5px 5px;
} 

.employee-big-image {
    position: absolute;
    height: 400px;
    width: 100%;
    z-index: 1000;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes dot {
    0%   {background-color:orange; left:0px; top:0px;}
    50%  {background-color:yellow;}
    100% {background-color:orange; left:0px; top:600px;}
  }
  
  /* Standard syntax */
  @keyframes dot {
    0%   {background-color:orange; left:0px; top:0px;}
    50%  {background-color:yellow;}
    100% {background-color:orange; left:0px; top:600px;}
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes bigimage {
    0%   {opacity: 0.0;}
    10%  {opacity: 1.0;}
    90%  {opacity: 1.0;}
    100% {opacity: 0.0;}
  }
  
  /* Standard syntax */
  @keyframes bigimage {
    0%   {opacity: 0.0;}
    10%  {opacity: 1.0;}
    90%  {opacity: 1.0;}
    100% {opacity: 0.0;}
  }

  @keyframes move {
    0%,100% { left: 0px }
    10%,30%,50%,70%,90% { left: 10px }
    20%,40%,60%,80% { left: -10px }
  }

  @keyframes moveline {
    0% { height: 0px }
    100% { height: 450px }
}