<div class="detail"
    [style.background-image]="'url(\'../assets/images/Helfigur/' + employee.firstName.replace(' ', '') + '.jpg\')'">
    <div class="inner-component">
            <div class="dot-container"><div class="dot">&nbsp;</div></div>
        <div class="employee-name">
            <div class="inner-name-component">{{employee.firstName}} {{employee.lastName}}</div>
    </div>
    </div>
    <div class="inner-description-component">
        {{ employee.description }}
    </div>
    <div class="inner-project-component">
        <div *ngIf="selectedAssignment != null">I oppdrag for {{ selectedAssignment.company }}</div>
    </div>

</div>