<html>
<body class="">

        <!-- Header -->
        <br><br>
        <div class="itema-header">
            Wall Of Fame
        </div>
        <!-- Main Content -->
        
        <div class="grid-container">    
            <!-- Photo Grid -->
            <app-employee 
                [employee]="employee"
                [width]="imgWidth"
                [height]="divHeight"
                [style.margin]="marginTxt"
                [selected]="selectedEmployee.id == employee.id"
                *ngFor="let employee of employees">
            </app-employee>

            <!-- Employee Detail -->
            <div class="detail">
                <app-employee-detail [employee]="selectedEmployee" [selectedAssignment]="selectedAssignment"></app-employee-detail>
            </div>
        </div>

</body>
</html>

